.mg-b-5{
    margin-bottom: 5px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-15{
    margin-bottom: 15px;
}
.mg-b-20{
    margin-bottom: 20px;
}
.mg-b-25{
    margin-bottom: 25px;
}

.uppercase{
    text-transform: uppercase;
}
.capatilize{
    text-transform: capitalize;
}
.float{
    float: left;
}
.over-flow{
    overflow: hidden;
}
.bg-grey{
  background:#f9f9f9;
}